<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
    <link rel="stylesheet" href="/css/users.css">
</head>
<body>
    <header class="head">
        <img src="/img/logo.png">
        <p class="logo-text">БезПера</p>
    </header>
    <main class="main-column">
        <div class="column">
            <div>
                <ul id="user-list">
                    <% users.forEach((user) => { %>
                        <li class="user" id="user-<%= user.id %>">
                            <img class="user-liset-avatar" src="<%= user. %>">
                            <a class="book-link" href="/books/<%= book.id %>"><%= book.author %>: "<%= book.title %>"</a>
                            <span class="book-status"><%= book.available ? ' Можно взять ' : ' На руках ' %></span>
                            <button class="btn" onclick="deleteBook('<%= book.id %>')">Удалить</button>
                        </li>
                    <% }); %>
                </ul>
            </div>
        </div>
    </main>
</body>
</html>